<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
    <title>Document</title>

</head>
<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <img src="image/ww3.jpeg">
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to ABOUT PAGE</p>
                        <h2>KNOW the <span id="weather">WEATHER</span> of your city.</h2>
                        <a href="/weather"><button>check now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}

</body>
</html>