<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}


</head>
<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitbtn">
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">TUESDAY</p>
                        <p id="today_date"> 257 JULY</p>
                    </div>

                    <div class="main_layer">
                        <p id="city_name">Get output here</p>
                        <div class="middle_layer">
                            <p id="temp"><span id="temp_real_val">Temp</span><sup id="c">o</sup>C</p>
                            <p id="temp_status">😊</p>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
    <script src="js/main.js"></script>

    <script>

        const getCurrentDay = () => {
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thrusday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let idate = new Date();
            days = weekday[idate.getDay()];
            let day = document.getElementById('day');
            day.innerText = days;

        };
        getCurrentDay();


        function updateClock() {
            const date = new Date();
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');
            const seconds = String(date.getSeconds()).padStart(2, '0');
            const clockDisplay = `${hours}:${minutes}:${seconds}`;
            document.getElementById('today_date').innerText = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}  ${clockDisplay}`;
        };
        setInterval(updateClock, 1000);
        updateClock();
    </script>
</body>
</html>